<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">
      <svg class="icon icon-home" width=1em height=1em><use xlink:href="#icon-home"></use></svg> Home</a>

    <a class="sidebar-nav-item{% if page.title == 'About' %} active{% endif %}" href="{{ '/about' | absolute_url }}">
      <svg class="icon icon-quill" width=1em height=1em><use xlink:href="#icon-quill"></use></svg> About</a>

    <a class="sidebar-nav-item{% if page.title == 'Concepts' %} active{% endif %}" href="{{ '/concepts' | absolute_url }}">
      <svg class="icon icon-circle-o" width=1em height=1em><use xlink:href="#icon-circle-o"></use></svg> Concepts</a>

    <a class="sidebar-nav-item{% if page.title == 'Jōseki Analysis' %} active{% endif %}" href="{{ '/joseki' | absolute_url }}">
      <svg class="icon icon-circle3" width=1em height=1em><use xlink:href="#icon-circle3"></use></svg> Jōseki Analysis</a>

    <a class="sidebar-nav-item{% if page.title == 'Reviews' %} active{% endif %}" href="{{ '/review' | absolute_url }}">
        <svg class="icon icon-clipboard" width=1em height=1em><use xlink:href="#icon-clipboard"></use></svg> Reviews</a>

    <a class="sidebar-nav-item{% if page.title == 'Archive' %} active{% endif %}" href="{{ '/archive' | absolute_url }}">
      <svg class="icon icon-library" width=1em height=1em><use xlink:href="#icon-library"></use></svg> Archive</a>

    <a class="sidebar-nav-item{% if page.title == 'Tag Cloud' %} active{% endif %}" href="{{ '/tag' | absolute_url }}">
      <svg class="icon icon-tag" width=1em height=1em><use xlink:href="#icon-tag"></use></svg> Tag Cloud</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>

  <div class="sidebar-item">
      <a href="/feed.xml" target="_blank">
        <svg class="icon icon-feed" width=1em height=1em><use xlink:href="#icon-feed"></use></svg> Feed</a>
  </div>
  
</div>
